<?xml version="1.0" encoding="utf-8" ?>
<MAPPINGS>
  <MAPPING>
    <NAME>Elevator Trim</NAME>
    <TYPE_ID>0</TYPE_ID>
    <ACTIVE>false</ACTIVE>
    <INPUT_CHANNEL_A></INPUT_CHANNEL_A>
    <INPUT_CHANNEL_B></INPUT_CHANNEL_B>
    <OUTPUT_CHANNEL></OUTPUT_CHANNEL>
    <MULTIPLIER>341</MULTIPLIER>
    <RESET_COMMAND>CTRL+T</RESET_COMMAND>
  </MAPPING>
  <MAPPING>
    <NAME>Rudder Trim (Left)</NAME>
    <TYPE_ID>1</TYPE_ID>
    <ACTIVE>false</ACTIVE>
    <INPUT_CHANNEL_A></INPUT_CHANNEL_A>
    <INPUT_CHANNEL_B></INPUT_CHANNEL_B>
    <OUTPUT_CHANNEL></OUTPUT_CHANNEL>
    <MULTIPLIER>100</MULTIPLIER>
    <RESET_COMMAND>none</RESET_COMMAND>
  </MAPPING>
</MAPPINGS>