<MAPPINGS>
  <MAPPING>
    <NAME>Elevator Trim (Axis)</NAME>
    <TYPE_ID>0</TYPE_ID>
    <ACTIVE>False</ACTIVE>
    <INPUT_CHANNEL_A_HASH>-759511421</INPUT_CHANNEL_A_HASH>
    <INPUT_CHANNEL_B_HASH>-759511420</INPUT_CHANNEL_B_HASH>
    <OUTPUT_CHANNEL_HASH>10272460</OUTPUT_CHANNEL_HASH>
    <AXIS_SENSITIVITY>347</AXIS_SENSITIVITY>
    <BUTTON_MULTIPLIER>1</BUTTON_MULTIPLIER>
    <RESET_COMMAND>
    </RESET_COMMAND>
  </MAPPING>
</MAPPINGS>